.home-container-fluid
{
    background-image: url("../assets/banner.png");
}



.home-element
{
    text-align: center;
    padding: 150px 0px;
}

.elements-link
{
    margin: 25px;
    width: 250px;
    color: #DB9A64 ;
    background-color: transparent;
    display: inline-block;
    padding: 17px 49px;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid #DB9A64;
    text-align: center;
    cursor: pointer;
 
}

.elements-link:hover
{
    color: #fff;
    background-color: #DB9A64;
}